.left-padding {
	padding-left: 20px;
}

h1 {
	font-size: 2.5rem;
}

.view-dream-container {
	font-size: 1.1rem;
	border: 1px solid #ccc;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 1rem;
	margin-right: 2rem;
}

.dream-markdown {
    line-height: 1.6;
}

.dream-markdown p {
    margin: 0;
}

.del-dream-bttn {
	background-color: white;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.del-dream-bttn:hover {
	background-color: #5c5c5c;
}
